.digg_pagination {
  display: flex;
  justify-content: center;
  margin: 1em 0;
  background: --light;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 12px;
  }
  .digg_pagination .disabled {
    color: #999999;
  }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: indigo;
    color: white;
    border: 1px solid indigo;
  }
  .digg_pagination a {
    text-decoration: none;
    color: #9366b4;
    border: 1px solid #9366b4;
  }
  a.previous_page, a.previous_page:hover, a.next_page, a.next_page:hover{
    border: none;
  }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: indigo;
      border-color: indigo;
    }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html .digg_pagination {
    height: 1%;
  }
  *:first-child + html .digg_pagination {
    overflow: hidden;
  }
