<footer class='bg-dark py-3 text-muted'>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-4">
        <div class="email-address">
          <p class='d-flex m-0 py-2 justify-content-center'>
            <a class="text-secondary" data-toggle="collapse" href="#collapseEmail" role="button" aria-expanded="false" aria-controls="collapseEmail">
              Contact
            </a>
          </p>
          <div class="collapse" id="collapseEmail">
            <a class="card card-body bg-dark bg-light-hover text-secondary" href="mailto:danielmakarzec@gmail.com">
              danielmakarec@gmail.com
            </a>
          </div>
        </div>
        <a class='text-secondary d-block m-0 py-2 text-center' target="_blank" href="http://github.com/danielmakarzec">GitHub</a>
        <a class='text-secondary d-block m-0 py-2 text-center' target='_blank' href="http://linkedin.com/in/danielmakarzec">Linkedin</a>
      </div>

      <div class="col-12 col-md-4 d-none d-md-block">
          <p>Ruby on Rails gems</p>
          <ul class='text-secondary mx-3'>
            <li>devise</li>
            <li>faker</li>
            <li>friendly_id</li>
            <li>simple_form</li>
            <li>will_paginate</li>
          </ul>
      </div>

      <div class="col-12 col-md-4 d-none d-md-block">
        <p>Webpack dependencies</p>
        <ul class='text-secondary mx-3'>
          <li>@fortawesome/fontawesome-free ^5.13.0"</li>
          <li>bootstrap ^4.4.1"</li>
          <li>jquery ~3.4.1"</li>
          <li>popper.js ^1.16.1"</li>
          <li>trix" ^1.0.0"</li>
        </ul>
      </div>
    </div>
  </div>
</footer>


